@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    width: 100vw;
}

a {
    display: block;
    color: white;
    background-color: darkred;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    padding: 30px 0;
}

a:hover {
    background-color: red;
}