@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
main{
     height: 100vh;
     background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
     background-size: cover;
     position: relative;
}
section#telefone{
    height: 627px;
    width: 311px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
}
iframe{
    margin-top: 5rem;
    margin-left: 1.4rem;
    height: 472px;
    width: 266px;
}
section#icones{
    text-align: right;
    padding: 10px 15px 0 0;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.403);
    box-sizing: border-box;
}
img:hover{
    border: 2px solid rgba(255, 255, 255, 0.567);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.564);
    transition: transform 1s, border 1s;
}